#adReplay {

    position: absolute;
    left: 170px;
    top: 370px;
    font-size: 60px;

}

#adScene2 {

    visibility: visible;
    animation-name: scene2;
    animation-duration: 5s;

}

@keyframes scene2 {
    0% {
        visibility: hidden;
    }

    99% {

        visibility: hidden;


    }

    100% {

        visibility: visible;
    }

}

